
.vscode/
.idea/
.DS_Store
*/tmp/*
*.egg-info/
.installed.cfg
*.egg

.ipynb_checkpoints/
__pycache__/
config_tmp/
wandb/
#data/
inputs/
outputs/
benchmark/
model_zoo/
tmp/
tmp2/
ref/
#logs/
tke_logs/
logs2/



